.welcomePageFooterWrapper {
  width: 100%;
  padding-bottom: 5rem;
  background-color: #8A8C89;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomePageFooterWrapper > h2 {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

.clickableIconWrapper{
  display: flex;
  justify-content: center;
  max-width: 10rem;
}

.welcomePageFooterWrapper> p {
  color: white;
}



@media only screen and (min-width: 1280px) {
  .welcomePageFooterWrapper {
    padding-bottom: 0rem;
  }
}