
.wrapper{
  width: 90vw;
  max-width: 100rem;
  margin: 0px auto;
  position: relative;
}
.centerLine{
  position: absolute;
  top: 5%;
  bottom: 5%;
  display: none;
  height: 90%;
  width: 5px;
  left: 50%;
  background: rgb(138, 140, 137);
}

@media only screen and (min-width: 1280px) {
  .wrapper>.centerLine{
    display: block;
  }

  .wrapper{
    width: 70vw;
  }
}