.headerWriper {
  position:fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
  background-color: white;
  padding: 0px 15px;
  z-index: 998;
}

.userPhoto{
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 20px;
  background-color: #444444;
}

.user{
  display: flex;
  align-items: center;
  height: 100%;
}

.cashContainer{
  display: flex;
  align-items: center;
}

.cashContainer > i {
  padding: 0px 7px;
}

@media only screen and (max-width: 560px) {
  .userName{
    display: none;
  }
}