.loginWrapper {
  display: flex;
  flex-direction: column; 
  height: 100vh;
}

.loginButtonsWrapper{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginButtonsWrapper > * {
  margin: 1rem;
}

.footer{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.footer > span {
  padding: 0.5rem 0.3rem;
}