.welcomePageNavListItem{
  display: flex;
  justify-content: flex-start;
  margin-right: 2rem;
  transition-duration: 0.5s;
  border-radius: 0.5rem;
}

.welcomePageNavListItem:hover {
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 8%);
  background-color: white;
}

.welcomePageNavListItem > .welcomePageNavListItemLink > .welcomePageNavListItemIcon{
   font-size: 2.5rem;
   padding: 0.75rem;
}

.welcomePageNavListItemLink{
  display: flex;
  width: 100%;
}

.welcomePageNavListItemLink > span{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}