.underlineBlock {
  width: 80%;
  margin-left: 10%;
  height: 0.3rem;
  background-color: rgb(177, 36, 123);
}

.welcomePageHeader {
  font-size: 1.5rem;
  margin: 0px;
  margin-bottom: 0.6rem;
  text-align: center;
  color: rgb(177, 36, 123);
}

.welcomePageHeaderWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

.welcomePageHeaderContainer{
  width: fit-content;
  margin: 2rem 0rem;
}