
.description {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0.5rem;
  font-weight: 600;
  text-align: center;
  color: #444444;
}

.informIcon{
  cursor: help;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  z-index: 1;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: #444444;
}

.informIcon:hover{
  color: white;
  transition: all 1s linear;
  background: #444444;
}

.informIcon > i {
  position: relative;
  width: 24px;
}
